figure-candidates-interactive
*.rds
.Rhistory
Rplots.pdf
auto
*.log
figure-label-errors-data
figure-sequence-cv-data
*~
library
*.aux
tikzMetrics*
*.nav
*.out
*.snm
*.toc
figure-candidates
figure-candidates.tex